span.belong-to-sprint-text-wrapper
    a.belong-to-sprint-text(
        href=""
        tg-nav="project-taskboard:project=sprint.project,sprint=sprint.slug"
        title="{{'COMMON.FIELDS.SPRINT' | translate}} {{sprint.name}} {{'TASKBOARD.SECTION_NAME' | translate}}"
    ) {{'COMMON.FIELDS.SPRINT' | translate}} {{sprint.name}}
